body 





{ background-image: url(casino.jpg);
padding: 30px;


}

.roll1 {color: blueviolet;}

h1 {
color:rgb(161, 9, 9)


}

h3 {
text-align: left;
color:rgb(161, 9, 9)
}

.crapsWithButtons {
width: 150x;
height: 30px;
background-color: rgb(161, 9, 9);
border-radius: 12px;
border-color: rgb(13, 4, 65);


}
